body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1580px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1860px;
  height:1401px;
}
#u1338 {
  position:absolute;
  left:-140px;
  top:-170px;
  width:1860px;
  height:1401px;
}
#u1339 {
  position:absolute;
  left:2px;
  top:693px;
  width:1856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:70px;
  background:inherit;
  background-color:rgba(37, 44, 50, 1);
}
#u1340 {
  position:absolute;
  left:40px;
  top:231px;
  width:50px;
  height:70px;
}
#u1341 {
  position:absolute;
  left:2px;
  top:27px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(37, 44, 50, 1);
}
#u1342 {
  position:absolute;
  left:40px;
  top:411px;
  width:50px;
  height:30px;
}
#u1343 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(37, 44, 50, 1);
}
#u1344 {
  position:absolute;
  left:30px;
  top:501px;
  width:70px;
  height:30px;
}
#u1345 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(37, 44, 50, 1);
}
#u1346 {
  position:absolute;
  left:30px;
  top:371px;
  width:70px;
  height:30px;
}
#u1347 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1348 {
  position:absolute;
  left:26px;
  top:238px;
  width:77px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1349 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4D5154;
}
#u1350 {
  position:absolute;
  left:48px;
  top:368px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4D5154;
}
#u1351 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4D5154;
}
#u1352 {
  position:absolute;
  left:49px;
  top:513px;
  width:28px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4D5154;
}
#u1353 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  visibility:hidden;
  white-space:nowrap;
}
#u1354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:130px;
  background:inherit;
  background-color:rgba(37, 44, 50, 1);
}
#u1354 {
  position:absolute;
  left:20px;
  top:851px;
  width:90px;
  height:130px;
}
#u1355 {
  position:absolute;
  left:2px;
  top:57px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(37, 44, 50, 1);
}
#u1356 {
  position:absolute;
  left:20px;
  top:1051px;
  width:90px;
  height:30px;
}
#u1357 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1358 {
  position:absolute;
  left:50px;
  top:1057px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1359 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(37, 44, 50, 1);
}
#u1360 {
  position:absolute;
  left:30px;
  top:131px;
  width:70px;
  height:30px;
}
#u1361 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
}
#u1362 {
  position:absolute;
  left:160px;
  top:112px;
  width:240px;
  height:50px;
}
#u1363 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:50px;
}
#u1364 {
  position:absolute;
  left:450px;
  top:111px;
  width:230px;
  height:50px;
}
#u1365 {
  position:absolute;
  left:2px;
  top:17px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
}
#u1366 {
  position:absolute;
  left:1170px;
  top:112px;
  width:300px;
  height:50px;
}
#u1367 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
}
#u1368 {
  position:absolute;
  left:1320px;
  top:21px;
  width:250px;
  height:60px;
}
#u1369 {
  position:absolute;
  left:2px;
  top:22px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1370 {
  position:absolute;
  left:130px;
  top:201px;
  width:1440px;
  height:900px;
}
#u1371 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
}
#u1372 {
  position:absolute;
  left:230px;
  top:41px;
  width:80px;
  height:20px;
}
#u1373 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1374 {
  position:absolute;
  left:1188px;
  top:33px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1375 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u1376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u1376 {
  position:absolute;
  left:1265px;
  top:32px;
  width:120px;
  height:44px;
  color:#999999;
}
#u1377 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u1378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:23px;
  background:inherit;
  background-color:rgba(252, 87, 77, 1);
  border-radius:5px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1378 {
  position:absolute;
  left:1392px;
  top:28px;
  width:60px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1379 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u1380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:23px;
  background:inherit;
  background-color:rgba(252, 87, 77, 1);
  border-radius:5px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1380 {
  position:absolute;
  left:1392px;
  top:61px;
  width:60px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1381 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u1382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1382 {
  position:absolute;
  left:41px;
  top:582px;
  width:45px;
  height:45px;
}
#u1383 {
  position:absolute;
  left:2px;
  top:15px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4D5154;
}
#u1384 {
  position:absolute;
  left:50px;
  top:634px;
  width:28px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4D5154;
}
#u1385 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:130px;
  background:inherit;
  background-color:rgba(37, 44, 50, 1);
}
#u1386 {
  position:absolute;
  left:20px;
  top:411px;
  width:90px;
  height:130px;
}
#u1387 {
  position:absolute;
  left:2px;
  top:57px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1388 {
  position:absolute;
  left:250px;
  top:40px;
  width:32px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1389 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1390 {
  position:absolute;
  left:218px;
  top:124px;
  width:96px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1391 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u1392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:78px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
}
#u1392 {
  position:absolute;
  left:426px;
  top:99px;
  width:590px;
  height:78px;
}
#u1393 {
  position:absolute;
  left:2px;
  top:31px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:39px;
}
#u1394 {
  position:absolute;
  left:335px;
  top:349px;
  width:396px;
  height:39px;
}
#u1395 {
  position:absolute;
  left:2px;
  top:12px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:39px;
}
#u1396 {
  position:absolute;
  left:192px;
  top:349px;
  width:115px;
  height:39px;
}
#u1397 {
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:172px;
}
#u1398 {
  position:absolute;
  left:185px;
  top:237px;
  width:697px;
  height:172px;
}
#u1399 {
  position:absolute;
  left:2px;
  top:78px;
  width:693px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:288px;
}
#u1400 {
  position:absolute;
  left:192px;
  top:632px;
  width:519px;
  height:288px;
}
#u1401 {
  position:absolute;
  left:2px;
  top:136px;
  width:515px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
}
#u1402 {
  position:absolute;
  left:398px;
  top:1063px;
  width:60px;
  height:28px;
}
#u1403 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u1404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:28px;
  background:inherit;
  background-color:rgba(252, 87, 77, 1);
  border-radius:5px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1404 {
  position:absolute;
  left:285px;
  top:1063px;
  width:59px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1405 {
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  word-wrap:break-word;
}
#u1406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:82px;
}
#u1406 {
  position:absolute;
  left:271px;
  top:410px;
  width:603px;
  height:82px;
}
#u1407 {
  position:absolute;
  left:2px;
  top:33px;
  width:599px;
  visibility:hidden;
  word-wrap:break-word;
}
