body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1580px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1860px;
  height:1401px;
}
#u1269 {
  position:absolute;
  left:-140px;
  top:-170px;
  width:1860px;
  height:1401px;
}
#u1270 {
  position:absolute;
  left:2px;
  top:693px;
  width:1856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:70px;
  background:inherit;
  background-color:rgba(37, 44, 50, 1);
}
#u1271 {
  position:absolute;
  left:40px;
  top:231px;
  width:50px;
  height:70px;
}
#u1272 {
  position:absolute;
  left:2px;
  top:27px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(37, 44, 50, 1);
}
#u1273 {
  position:absolute;
  left:40px;
  top:411px;
  width:50px;
  height:30px;
}
#u1274 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(37, 44, 50, 1);
}
#u1275 {
  position:absolute;
  left:30px;
  top:501px;
  width:70px;
  height:30px;
}
#u1276 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(37, 44, 50, 1);
}
#u1277 {
  position:absolute;
  left:30px;
  top:371px;
  width:70px;
  height:30px;
}
#u1278 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1279 {
  position:absolute;
  left:26px;
  top:238px;
  width:77px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1280 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4D5154;
}
#u1281 {
  position:absolute;
  left:48px;
  top:368px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4D5154;
}
#u1282 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4D5154;
}
#u1283 {
  position:absolute;
  left:49px;
  top:513px;
  width:28px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4D5154;
}
#u1284 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  visibility:hidden;
  white-space:nowrap;
}
#u1285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:130px;
  background:inherit;
  background-color:rgba(37, 44, 50, 1);
}
#u1285 {
  position:absolute;
  left:20px;
  top:851px;
  width:90px;
  height:130px;
}
#u1286 {
  position:absolute;
  left:2px;
  top:57px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(37, 44, 50, 1);
}
#u1287 {
  position:absolute;
  left:20px;
  top:1051px;
  width:90px;
  height:30px;
}
#u1288 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1289 {
  position:absolute;
  left:50px;
  top:1057px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1290 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(37, 44, 50, 1);
}
#u1291 {
  position:absolute;
  left:30px;
  top:131px;
  width:70px;
  height:30px;
}
#u1292 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
}
#u1293 {
  position:absolute;
  left:160px;
  top:112px;
  width:240px;
  height:50px;
}
#u1294 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:50px;
}
#u1295 {
  position:absolute;
  left:450px;
  top:111px;
  width:230px;
  height:50px;
}
#u1296 {
  position:absolute;
  left:2px;
  top:17px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
}
#u1297 {
  position:absolute;
  left:1170px;
  top:112px;
  width:300px;
  height:50px;
}
#u1298 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
}
#u1299 {
  position:absolute;
  left:1320px;
  top:21px;
  width:250px;
  height:60px;
}
#u1300 {
  position:absolute;
  left:2px;
  top:22px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u1301 {
  position:absolute;
  left:130px;
  top:201px;
  width:1440px;
  height:900px;
}
#u1302 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
}
#u1303 {
  position:absolute;
  left:230px;
  top:41px;
  width:80px;
  height:20px;
}
#u1304 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1305 {
  position:absolute;
  left:1188px;
  top:33px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1306 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u1307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u1307 {
  position:absolute;
  left:1265px;
  top:32px;
  width:120px;
  height:44px;
  color:#999999;
}
#u1308 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u1309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:23px;
  background:inherit;
  background-color:rgba(252, 87, 77, 1);
  border-radius:5px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1309 {
  position:absolute;
  left:1392px;
  top:28px;
  width:60px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1310 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u1311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:23px;
  background:inherit;
  background-color:rgba(252, 87, 77, 1);
  border-radius:5px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1311 {
  position:absolute;
  left:1392px;
  top:61px;
  width:60px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1312 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u1313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1313 {
  position:absolute;
  left:41px;
  top:582px;
  width:45px;
  height:45px;
}
#u1314 {
  position:absolute;
  left:2px;
  top:15px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4D5154;
}
#u1315 {
  position:absolute;
  left:50px;
  top:634px;
  width:28px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4D5154;
}
#u1316 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:130px;
  background:inherit;
  background-color:rgba(37, 44, 50, 1);
}
#u1317 {
  position:absolute;
  left:20px;
  top:411px;
  width:90px;
  height:130px;
}
#u1318 {
  position:absolute;
  left:2px;
  top:57px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1319 {
  position:absolute;
  left:250px;
  top:40px;
  width:32px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1320 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1321 {
  position:absolute;
  left:218px;
  top:124px;
  width:96px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1322 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u1323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:78px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
}
#u1323 {
  position:absolute;
  left:426px;
  top:99px;
  width:590px;
  height:78px;
}
#u1324 {
  position:absolute;
  left:2px;
  top:31px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:39px;
}
#u1325 {
  position:absolute;
  left:335px;
  top:349px;
  width:396px;
  height:39px;
}
#u1326 {
  position:absolute;
  left:2px;
  top:12px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:39px;
}
#u1327 {
  position:absolute;
  left:192px;
  top:349px;
  width:115px;
  height:39px;
}
#u1328 {
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:172px;
}
#u1329 {
  position:absolute;
  left:185px;
  top:237px;
  width:697px;
  height:172px;
}
#u1330 {
  position:absolute;
  left:2px;
  top:78px;
  width:693px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:288px;
}
#u1331 {
  position:absolute;
  left:192px;
  top:632px;
  width:519px;
  height:288px;
}
#u1332 {
  position:absolute;
  left:2px;
  top:136px;
  width:515px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
}
#u1333 {
  position:absolute;
  left:398px;
  top:1063px;
  width:60px;
  height:28px;
}
#u1334 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u1335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:28px;
  background:inherit;
  background-color:rgba(252, 87, 77, 1);
  border-radius:5px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1335 {
  position:absolute;
  left:285px;
  top:1063px;
  width:59px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1336 {
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  word-wrap:break-word;
}
#u1337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:82px;
}
#u1337 {
  position:absolute;
  left:271px;
  top:410px;
  width:603px;
  height:82px;
}
#u1338 {
  position:absolute;
  left:2px;
  top:33px;
  width:599px;
  visibility:hidden;
  word-wrap:break-word;
}
