body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:418px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:237px;
}
#u1561 {
  position:absolute;
  left:6px;
  top:0px;
  width:412px;
  height:237px;
}
#u1562 {
  position:absolute;
  left:2px;
  top:111px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
