body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1580px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1860px;
  height:1401px;
}
#u74 {
  position:absolute;
  left:-140px;
  top:-171px;
  width:1860px;
  height:1401px;
}
#u75 {
  position:absolute;
  left:2px;
  top:693px;
  width:1856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:70px;
  background:inherit;
  background-color:rgba(37, 44, 50, 1);
}
#u76 {
  position:absolute;
  left:40px;
  top:230px;
  width:50px;
  height:70px;
}
#u77 {
  position:absolute;
  left:2px;
  top:27px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(37, 44, 50, 1);
}
#u78 {
  position:absolute;
  left:40px;
  top:410px;
  width:50px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(37, 44, 50, 1);
}
#u80 {
  position:absolute;
  left:30px;
  top:500px;
  width:70px;
  height:30px;
}
#u81 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(37, 44, 50, 1);
}
#u82 {
  position:absolute;
  left:30px;
  top:370px;
  width:70px;
  height:30px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u84 {
  position:absolute;
  left:26px;
  top:237px;
  width:77px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4D5154;
}
#u86 {
  position:absolute;
  left:48px;
  top:367px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4D5154;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4D5154;
}
#u88 {
  position:absolute;
  left:49px;
  top:512px;
  width:28px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4D5154;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  visibility:hidden;
  white-space:nowrap;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:130px;
  background:inherit;
  background-color:rgba(37, 44, 50, 1);
}
#u90 {
  position:absolute;
  left:20px;
  top:850px;
  width:90px;
  height:130px;
}
#u91 {
  position:absolute;
  left:2px;
  top:57px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(37, 44, 50, 1);
}
#u92 {
  position:absolute;
  left:20px;
  top:1050px;
  width:90px;
  height:30px;
}
#u93 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u94 {
  position:absolute;
  left:50px;
  top:1056px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(37, 44, 50, 1);
}
#u96 {
  position:absolute;
  left:30px;
  top:130px;
  width:70px;
  height:30px;
}
#u97 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
}
#u98 {
  position:absolute;
  left:160px;
  top:111px;
  width:240px;
  height:50px;
}
#u99 {
  position:absolute;
  left:2px;
  top:17px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:50px;
}
#u100 {
  position:absolute;
  left:450px;
  top:110px;
  width:230px;
  height:50px;
}
#u101 {
  position:absolute;
  left:2px;
  top:17px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
}
#u102 {
  position:absolute;
  left:1170px;
  top:111px;
  width:300px;
  height:50px;
}
#u103 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
}
#u104 {
  position:absolute;
  left:1320px;
  top:20px;
  width:250px;
  height:60px;
}
#u105 {
  position:absolute;
  left:2px;
  top:22px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u106 {
  position:absolute;
  left:130px;
  top:200px;
  width:1440px;
  height:900px;
}
#u107 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
}
#u108 {
  position:absolute;
  left:230px;
  top:40px;
  width:80px;
  height:20px;
}
#u109 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u110 {
  position:absolute;
  left:1188px;
  top:32px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#999999;
}
#u112 {
  position:absolute;
  left:1265px;
  top:31px;
  width:120px;
  height:44px;
  color:#999999;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:23px;
  background:inherit;
  background-color:rgba(252, 87, 77, 1);
  border-radius:5px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u114 {
  position:absolute;
  left:1392px;
  top:27px;
  width:60px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u115 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:23px;
  background:inherit;
  background-color:rgba(252, 87, 77, 1);
  border-radius:5px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u116 {
  position:absolute;
  left:1392px;
  top:60px;
  width:60px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u117 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u118 {
  position:absolute;
  left:41px;
  top:581px;
  width:45px;
  height:45px;
}
#u119 {
  position:absolute;
  left:2px;
  top:15px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4D5154;
}
#u120 {
  position:absolute;
  left:50px;
  top:633px;
  width:28px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4D5154;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:130px;
  background:inherit;
  background-color:rgba(37, 44, 50, 1);
}
#u122 {
  position:absolute;
  left:20px;
  top:410px;
  width:90px;
  height:130px;
}
#u123 {
  position:absolute;
  left:2px;
  top:57px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:78px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
}
#u124 {
  position:absolute;
  left:426px;
  top:98px;
  width:590px;
  height:78px;
}
#u125 {
  position:absolute;
  left:2px;
  top:31px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u126 {
  position:absolute;
  left:241px;
  top:39px;
  width:51px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:362px;
}
#u128 {
  position:absolute;
  left:184px;
  top:226px;
  width:991px;
  height:362px;
}
#u129 {
  position:absolute;
  left:2px;
  top:173px;
  width:987px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border-radius:5px;
}
#u130 {
  position:absolute;
  left:458px;
  top:638px;
  width:140px;
  height:40px;
}
#u131 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:172px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
}
#u132 {
  position:absolute;
  left:471px;
  top:387px;
  width:677px;
  height:172px;
}
#u133 {
  position:absolute;
  left:2px;
  top:78px;
  width:673px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
}
#u134 {
  position:absolute;
  left:609px;
  top:478px;
  width:38px;
  height:17px;
}
#u135 {
  position:absolute;
  left:2px;
  top:1px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
}
#u136 {
  position:absolute;
  left:884px;
  top:473px;
  width:264px;
  height:43px;
}
#u137 {
  position:absolute;
  left:2px;
  top:14px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
